<div class="form__container">

    <form>
        <p>Nome: <input type="text" name="Nome" id="nome"></p>
        <p>E-mail: <input type="text" name="Email" id="email"></p>
        <p>Data de nascimento: <input type="text" name="Nascimento" id="nascimento"></p>
        <p>CPF: <input type="text" name="CPF" id="cpf"></p>
        <p>Telefone: <input type="tel" name="Telefone" id="telefone"></p>

        <div class="form__button-container">
                <button class="button" ng-click="getDados()">Enviar</button>
        </div>
    </form>

</div>