<div class="platform__container">


    <div class="platform__item">
        <p class="platform__name">Tablet</p>
        <p class="platform__description">Chip para navegar à vontade</p>
    </div>
    <div class="platform__item">
        <p class="platform__name">Tablet</p>
        <p class="platform__description">Chip para navegar à vontade</p>
    </div>
    <div class="platform__item">
        <p class="platform__name">Tablet</p>
        <p class="platform__description">Chip para navegar à vontade</p>
    </div>

</div>