<div class="platform__container">


    <div class="platform__item">
        <p class="platform__name">Tablet</p>
        <p class="platform__description">Chip para navegar à vontade</p>
        <div class="platform__button-container">
            <a href="" class="button">Selecionar</a>
        </div>
    </div>
    <div class="platform__item">
        <p class="platform__name">Tablet</p>
        <p class="platform__description">Chip para navegar à vontade</p>
        <div class="platform__button-container">
            <a href="" class="button">Selecionar</a>
        </div>
    </div>
    <div class="platform__item">
        <p class="platform__name">Tablet</p>
        <p class="platform__description">Chip para navegar à vontade</p>
        <div class="platform__button-container">
            <a href="" class="button">Selecionar</a>
        </div>
    </div>

</div>